:root {
    --primary-blue-color: #0676BD;
    --secondary-blue-color: #00548B;
    --primary-seagreen: #24B6A9;
    --primary-orange: #FF7000;
}
/* 
#notice-board a {
    color: blue;
} */

.dotted-blue-border {
    color: var(--secondary-blue-color);
    border-bottom: 1px dotted var(--secondary-blue-color);
}


.bg-primary-blue {
    background-color: var(--primary-blue-color);
}

.bg-secondary-blue {
    background-color: var(--secondary-blue-color);
}

.font-secondary-color {
    color: var(--secondary-blue-color);
}

.font-seagreen {
    color: var(--primary-seagreen);
}

.bg-primary-orange {
    background-color: var(--primary-orange);
}

.dropdown {
    position: relative;
}

.gradient {
    background-image: linear-gradient(to bottom right, var(--primary-blue-color), var(--secondary-blue-color));
}


.dropdown-content {
    position: absolute;
    top: 48px;
    left: 8px;
    background-color: white;
    color: black;
    display: block;
    border-radius: 8px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25), -2px -2px 3px rgba(0, 0, 0, 0.25);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.blue-tab {
    background: var(--secondary-blue-color);
}

.blue-tab:hover,
.blue-tab:focus {
    background-color: var(--primary-blue-color);
    outline: none;
    border: none;
}

.marquee {
    position: relative;
    animation-name: marquee;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes marquee {
    from {
        transform: translateX(50%);
    }

    to {
        transform: translateX(-100%);
    }
}